body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    width : 50vh;
    height: 60vh;
    background: linear-gradient(90deg, #fff, #fff);
    box-shadow: 0px 3px 8px 2px#ccc;
    border-radius: 10px;
    border: 2px solid transparent;
    border-image: linear-gradient(10deg, #ff0, #f0f, #00f, #0f0);
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}